
*.csv
dados MDA H177.txt
dados MDA R244.txt
dados MDA R822.txt
*.jpg
GLCM R301.txt
GLCM R244.txt
GLCM H177.txt
dados MDA R301.txt
GLCM R822.txt
WCA_export149_20240528T001852Z.tsv.zip
WCA_export_Countries.tsv
WCA_export_Persons.tsv
WCA_export_RanksAverage.tsv
WCA_export_RanksSingle.tsv
export_api.json
